@model SurveyResultViewModel

<link href="/css/surveyresults.css" rel="stylesheet">

@{
    ViewData["Title"] = "SurveyResults";
}

<h4>Thank you for completing the survey!</h4>

<h2>Top Park Rankings</h2>

<p>Below you will find the top voted National Park! Feel free to click on the picture to get more details on the National Park.</p>
<div class="top-ranked-parks">
    @{
        foreach (KeyValuePair<string, int> item in Model.GetTopRankedParks)
        {
            if (item.Value > 0)
            {
                <div class="parks">
                    <div class="park-picture">
                        <a asp-action="Details" asp-route-data="@item.Key"><img src="~/images/parks/@(item.Key).jpg" class="park-image" /></a>
                    </div>
                    <div class="park-info">
                        <div class="park-name">
                            @foreach (Park park in Model.Parks)
                            {
                                if (park.Code == item.Key)
                                {
                                    <p>@park.Name</p>

                                }

                            }
                        </div>
                        <div class="total-votes">
                            <p><strong>Total Votes: @item.Value</strong></p>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>