@model SurveyResultViewModel

<link href="/css/surveyresults.css" rel="stylesheet">

@{
    ViewData["Title"] = "SurveyResults";
}

<h6>Thank you for completing the survey!</h6>

<h2>Top Park Rankings</h2>

<p>Below you will find the National Parks ranked from highest to lowest</p>
<div>
    @{
        foreach (KeyValuePair<string, int> item in Model.GetTopRankedParks)
        {
            if (item.Value > 0)
            {
                <div class="park-image">
                    <img src="~/images/parks/@(item.Key).jpg" />
                </div>
                <div class="park-name">
                    @foreach (Park park in Model.Parks)
                    {
                        if (park.Code == item.Key)
                        {
                            <p>@park.Name</p>

                        }

                    }
                </div>
                <div>
                    <p>@item.Value</p>
                </div>
            }
        }
    }
</div>