body {
}

.park-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.park{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.park img{
    height: 175px;
    margin-right: 45px;
}

.park-info{
    display: flex;
    flex-direction: column;
}